In [59]:
import pandas as pd

In [60]:
path = 'de_para_ordem_de_servico.xlsx'

In [61]:
de_para = pd.read_excel(path)

In [62]:
de_para

         Empresa                                 Ord Serviço
0       VEMFLORS           2023_10_luizfernando_vemflors_ref
1       VEMFLORS           2023_10_luizfernando_vemflors_ref
2       VEMFLORS           2023_10_luizfernando_vemflors_ref
3       VEMFLORS           2023_10_luizfernando_vemflors_ref
4       VEMFLORS           2023_10_luizfernando_vemflors_ref
...          ...                                         ...
125179   EMFLORS  2023_12_philippesouzaoliveira_emflors_prog
125180   EMFLORS  2023_12_philippesouzaoliveira_emflors_prog
125181   EMFLORS  2023_12_philippesouzaoliveira_emflors_prog
125182   EMFLORS  2023_12_philippesouzaoliveira_emflors_prog
125183   EMFLORS  2023_12_philippesouzaoliveira_emflors_prog

[125184 rows x 2 columns]

In [63]:
de_para['nome'] = de_para['Ord Serviço'].str.split("_", n=2).str[2]

In [64]:
de_para

,Empresa,Ord Serviço,nome
0,VEMFLORS,2023_10_luizfernando_vemflors_ref,luizfernando_vemflors_ref
1,VEMFLORS,2023_10_luizfernando_vemflors_ref,luizfernando_vemflors_ref
2,VEMFLORS,2023_10_luizfernando_vemflors_ref,luizfernando_vemflors_ref
3,VEMFLORS,2023_10_luizfernando_vemflors_ref,luizfernando_vemflors_ref
4,VEMFLORS,2023_10_luizfernando_vemflors_ref,luizfernando_vemflors_ref
...,...,...,...
125179,EMFLORS,2023_12_philippesouzaoliveira_emflors_prog,philippesouzaoliveira_emflors_prog
125180,EMFLORS,2023_12_philippesouzaoliveira_emflors_prog,philippesouzaoliveira_emflors_prog
125181,EMFLORS,2023_12_philippesouzaoliveira_emflors_prog,philippesouzaoliveira_emflors_prog
125182,EMFLORS,2023_12_philippesouzaoliveira_emflors_prog,philippesouzaoliveira_emflors_prog
125183,EMFLORS,2023_12_philippesouzaoliveira_emflors_prog,philippesouzaoliveira_emflors_prog

In [65]:
de_para.to_excel(path)